<web-app metadata-complete="false">
  <display-name>ApiExample</display-name>

  <listener>
    <listener-class>com.gaseousmammel.service.ApiExampleContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <servlet-name>Resteasy</servlet-name>
  </servlet>

  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
